<a href="https://colab.research.google.com/github/jacob2478/CS-167-Notes/blob/main/Day001_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

In [ ]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

In [ ]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

In [ ]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

In [ ]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

In [ ]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

In [ ]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

In [ ]:

my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

In [ ]:
# In Python, a tuple is a collection which is ordered and unchangeable
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

In [ ]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2])
my_tuple[1] = 0
print(my_dictionary[1])

In [ ]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

In [ ]:
# iterating through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

In [ ]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] )

for i in range(len(my_data)):
    print( i )

for i in range(my_data):
    print( my_data[i] )

In [ ]:
# Donâ€™t worry, this pandas stuff is new, and weâ€™re going to spend all day Tuesday learning more about pandas. This is just a sneak peek.

import pandas

In [ ]:
import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/Courses/CS 167 January 2023/datasets/restaurant.csv')
data.head()

In [ ]:

print(data['price'])

In [ ]:

print(data.loc[3])

In [ ]:

print(data.loc[3, 'type'])

In [ ]:
print(data.loc[3, 'rain'])

In [ ]:

print(data.iloc[3,8])

In [ ]:
print(data.iloc[3][8])

In [ ]:

print(data.iloc[3])

In [ ]:
print(data['est'])

In [ ]:
data.loc[5]

In [ ]:
print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/CS167/datasets/irisData.csv')
data1.head()

In [ ]:
type(data1['sepal length'].loc[0])

In [ ]:

data.iloc[3:6, 4:8]

In [ ]:
print(data['rain'].iloc[4])

In [ ]:

print(data['type']=='Thai')

In [ ]:
print(data[ data['type'] == 'Thai'])

In [ ]:

# All done? Here are some Exercises you can work on:

Using the restaurant data:
- print out all examples of Italian restaurants
- print out all examples where the estimated wait time is 0-10 minutes
- print out all examples at Thai restaurants where there is no alternative available. 
	- Hint, see if you can Google how to do selection in a Pandas dataframe using and/or (we'll cover this tomorrow)

Using the Iris Data:
- Print all of the rows that are Iris-Setosa
- Print examples with petal length greater than 6.